<script type="text/javascript">
$(function() {
  $('.options-toggle').change(function(){
    $('.options-all-media-types input').prop('disabled', true);
    $('.options-'+$(this).val() + ' input').prop('disabled', false);
  });

  $('input:checked.options-toggle').each(function () {
    $('.options-'+$(this).val() + ' input').prop('disabled', false);
  });
});
</script>

<%= semantic_form_for(@slide, :html => {:class => 'form-horizontal edit_slide'}) do |f| %>
  <%= f.semantic_errors %>

  <% if @slideshow %>
  <%= hidden_field_tag :slideshow_id, @slideshow.id %>
  <% end %>

  <%= f.inputs do %>

    <legend>Edit Slide</legend>

    <%= f.input :name %>
    <%= f.input :url, :input_html => { :rows => 6 } %>

    <!-- toggle the relevant option blocks below -->
    <%= f.input :media_type, :as => :radio, :input_html => { :class => "options-toggle" } %>

    <!-- image and html options -->
    <div class="options-all-media-types options-image options-html options-graphite">
      <%= f.input :display_time, :append => 'seconds', :input_html => { :disabled => true } %>
    </div>
    <!-- /image options -->

    <!-- video and audio options -->
    <div class="options-all-media-types options-video options-audio">
      <%= f.input :scrub_time, :append => 'seconds', :input_html => { :disabled => true } %>
      <%= f.input :stop_time, :append => 'seconds', :input_html => { :disabled => true } %>
    </div>
    <!-- /video options -->

    <!-- feed options --/>
    <div class="options-all-media-types options-feed">
      <%= f.input :feed_path, :input_html => { :rows => 6 }, :input_html => { :disabled => true } %>
    </div>
    </-- /feed options -->
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>
