<h1>Slide Details</h1>

<br />
<div class="well">
<p>
  <b>Name:</b>
  <%= @slide.name %>
</p>

<p>
  <b>Url:</b>
  <%= @slide.url %>
</p>

<p>
  <b>Display time:</b>
  <%= @slide.display_time %>
</p>

<p>
  <b>Transition:</b>
  <%= @slide.transition %>
</p>
</div>

<%= link_to 'Edit', edit_slide_path(@slide), :class=>'btn' %>
<%= link_to 'Back', slides_path, :class=>'btn' %>
