<%= render :partial => 'breadcrumbs', :object => [
           { :url => '/slides', :name => 'Slides'},
           { :url => '', :name => 'Show slide'}
           ] %>

<div class="well">
<p>
  <b>Name:</b>
  <%= @slide.name %>
</p>

<p>
  <b>Url:</b>
  <%= @slide.url %>
</p>

<p>
  <b>Display time:</b>
  <%= @slide.display_time %>
</p>

<p>
  <b>Transition:</b>
  <%= @slide.transition %>
</p>
</div>

<%= link_to 'Edit', edit_slide_path(@slide), :class=>'btn' %>
<%= link_to 'Slide List', slides_path, :class=>'btn' %>
