<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Slides', '/slides'),
             link_to('Slide: ' + @slide.name, '', :class => 'active')
           ],
           :action_links => [
             link_to('Edit', edit_slide_path(@slide))
           ] } %>

  <legend>Slide: <%= @slide.name %></legend>

<div class="well">
<p>
  <b>Name:</b>
  <%= @slide.name %>
</p>

<p>
  <b>Url:</b>
  <a href="<%= @slide.url %>" title="<%= @slide.url %>" target="_blank"><%= @slide.url %></a>
</p>

<p>
  <b>Media type:</b>
  <%= @slide.media_type_text %>
</p>

<p>
  <b>View time:</b>
  <%= @slide.display_time %> seconds
</p>

<p>
  <b>Transition:</b>
  <%= @slide.transition_text %>
</p>
</div>
