<%= form_for(@slideshow) do |f| %>
  <% if @slideshow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slideshow.errors.count, "error") %> prohibited this slideshow from being saved:</h2>

      <ul>
      <% @slideshow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @slides.each do |slide| %>
    <tr>
      <td><%= slide.name %></td>
      <td><%= link_to 'Show', slide %></td>
      <td><%= link_to 'Edit', edit_slide_path(slide) %></td>
<!--      <td><%= link_to 'Destroy', slide, confirm: 'Are you sure?', method: :delete %></td> -->
    </tr>
  <% end %>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
