<%= semantic_form_for(@slideshow, :html => {:class => 'form-inline edit_slideshow'}) do |f| %>
  <%= f.semantic_errors %>

  <legend>Edit Slideshow</legend>

  <div class="well">
    <%= f.inputs do %>
      <%= f.inputs :name %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  </div>

<% end %>
