<%= form_for(@slideshow, :html => {:class => 'form-inline edit_slideshow'}) do |f| %>
  <%= render :partial => 'errors', :locals => { :form => f, :obj => @slide } %>

  <legend>Edit Slideshow</legend>

  <div class="well"
  <%= f.label :name, :class => "control-label" %>
  <%= f.text_field :name, :class => "input-xlarge span4" %>

  <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>
