<%= form_for(@slideshow) do |f| %>
  <% if @slideshow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slideshow.errors.count, "error") %> prohibited this slideshow from being saved:</h2>

      <ul>
      <% @slideshow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% unless @slideshow.new_record? %>
  <div class="slides">
    <%= f.label 'existing_slides', :for => :existing_slides %>
    <%= select_tag(:existing_slides, options_from_collection_for_select(Slide.find(:all), :id, :name, proc{|slyde| @slideshow.slides.collect(&:id).include?(slyde.id)}), :multiple => true) %>
  </div>

  <%   unless @slides.empty?%>
  <br /><br />
  <%=  render 'slide_list' %>
  <%   end%>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
