<%= form_for(@slideshow) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="slides">
    <%= f.label 'existing_slides', :for => :existing_slides %>
    <%= select_tag(:existing_slides, options_from_collection_for_select(Slide.find(:all), :id, :name, proc{|slyde| @slideshow.slides.collect(&:id).include?(slyde.id)}), :multiple => true) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
