<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Slide Name</th>
    <th>Url</th>
    <th>Display time</th>
    <th>Type</th>
    <th>Transition</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
<% @slides.each do |slide| %>
  <tr>
    <td><%= link_to slide.name, slide %></td>
    <td><%= slide.url %></td>
    <td><%= slide.display_time %></td>
    <td><%= slide.type %></td>
    <td><%= slide.transition %></td>
    <td class="col-edit"><%= link_to raw('<i class="icon-edit"></i>'), edit_slide_path(slide), :class=>'btn btn-mini', :title=>'Edit' %></td>
    <td class="col-remove"><%= link_to raw('<i class="icon-remove"></i>'), slide, method: :remove, :class=>'btn btn-mini', :title=>'Remove' %></td>
    <td class="col-move"><%= link_to raw('<i class="icon-move"></i>'), slide, method: :show, :class=>'btn btn-mini', :title=>'Drag to change order' %></td>
  </tr>
<% end unless @slides.nil? %>
<% if @slides.nil? or @slides.empty? %>
  <tr><td colspan="7">No slides were found.</td></tr>
<% end %>
  </tbody>
</table>
