<h1>Edit Slideshow</h1>

<%= render 'form' %>

<script type="text/javascript">
$(document).ready(function() {
  $('.remove_slide').bind('ajax:success', function() {
    $(this).closest('tr').fadeOut();
  });

  $('#add-new, #add-existing, #edit-slide').on('hidden', function () {
    window.location.reload();
  });

  $('.modal-close').bind('click', function() {
    $(this).closest('div.modal').modal('hide')
  });
});
</script>

<a class="btn" data-toggle="modal" href="#add-new">Add new slide</a>
<a class="btn" data-toggle="modal" href="#add-existing">Add existing slide</a>

<div class="modal hide fade" id="add-new">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Create new slide</h3>
  </div>
  <div class="modal-body">
      <div class="well">
      <%= render :partial => '/slides/form' %>
      </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary modal-close">Done</a>
  </div>
</div>

<div class="modal hide fade" id="add-existing" style="width: 800px; left: 40%;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Choose a slide</h3>
  </div>
  <div class="modal-body">
      <div class="slides well">
        <%= render :partial => '/slides/list', :locals => {
              :slides => Slide.all,
              :action_links => lambda { |slide|
                link_to(raw('<i class="icon-plus"></i>'),
                        url_for(:action => :update,
                                :id => @slideshow.id,
                                :add_slides => [ slide.id ]),
                        :method => :put,
                        :class => 'btn btn-mini',
                        :title => 'Add to slideshow',
                        :remote => true) }
            } %>
      </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary modal-close">Done</a>
  </div>
</div>

<div class="modal hide fade" id="edit-slide">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Edit slide</h3>
  </div>
  <div class="modal-body">
      <div class="well" id="edit-slide-body">
      </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary modal-close">Done</a>
  </div>
</div>

<% unless @slides.empty?%>
<br /><br />
<%= render :partial => '/slides/list', :locals => {
      :slides => @slides,
      :action_links => lambda { |slide|
        link_to(raw('<i class="icon-edit"></i>'),
                edit_slide_path(slide, :update => '#edit-slide-body'),
                :onclick => raw('$(\'#edit-slide-body\').closest(\'div.modal\').modal(\'show\')'),
                :class => 'btn btn-mini',
                :title => 'Edit slide',
                :remote => true) + \
        link_to(raw('<i class="icon-remove"></i>'),
                url_for(:action => :update,
                        :id => @slideshow.id,
                        :del_slides => [ slide.id ]),
                :method => :put,
                :class => 'btn btn-mini remove_slide',
                :title => 'Remove from slideshow',
                :remote => true) }
    } %>
<% end %>

<%= link_to 'Show', @slideshow, :class=>'btn' %>
<%= link_to 'Back', slideshows_path, :class=>'btn' %>
