<h1>Editing Slideshow</h1>

<%= render 'form' %>

<script>
$('#slideshow-tabs').tab('show')
</script>

<div id="showshow-tabs" class="tabbable">
  <ul class="nav nav-tabs">
    <li><a href="#tabs-1" data-toggle="tab">Add new slide</a></li>
    <li><a href="#tabs-2" data-toggle="tab">Add existing slide</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tabs-1">
      <div class="well">
      <%= render :partial => '/slides/form', :locals => {:slides => Slide.all} %>
      </div>
    </div>
    <div class="tab-pane" id="tabs-2">
      <div class="slides well">
        <%= render :partial => '/slides/list', :locals => {:slides => Slide.all, :action_links => false} %>
      </div>
    </div>
  </div>
</div>

<% unless @slides.empty?%>
<br /><br />
<%= render :partial => '/slides/list', :locals => {:slides => @slideshow.slides, :action_links => lambda { |slide|
      link_to(raw('<i class="icon-edit"></i>'), edit_slide_path(slide), :class=>'btn btn-mini', :title=>'Edit') + \
      link_to(raw('<i class="icon-remove"></i>'), slide, method: :remove, :class=>'btn btn-mini', :title=>'Remove') + \
      link_to(raw('<i class="icon-move"></i>'), slide, method: :show, :class=>'btn btn-mini', :title=>'Drag to change order')
    } } %>
<% end %>

<%= link_to 'Show', @slideshow, :class=>'btn' %>
<%= link_to 'Back', slideshows_path, :class=>'btn' %>
