<h1>Listing devices</h1>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Slideshow Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.name, device %></td>
    <td><%= device_slideshow_link(device) %></td>
    <td><%= link_to 'Edit', edit_device_path(device) %></td>
    <td><%= link_to 'Destroy', device, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% if @devices.empty? %>
  <tr><td colspan="4">No devices were found.</td></tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Device', new_device_path %>
<%= link_to 'Browse Network', '/devices/browse' %>
