<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Devices', '/devices', :class => 'active')
           ],
           :action_links => [
             link_to('New Device', new_device_path),
             link_to('Browse Network', '/devices/browse')
           ] } %>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Slideshow Name</th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.name, device %></td>
    <td><%= device_slideshow_link(device) %></td>
    <td class="col-edit"><%= link_to raw('<i class="icon-edit"></i>'), edit_device_path(device), :class=>'btn btn-mini', :title=>'Edit' %></td>
    <td class="col-delete"><%= link_to raw('<i class="icon-trash"></i>'), device, confirm: "Delete device #{device.name}?", method: :delete, :class=>'btn btn-mini', :title=>'Delete' %></td>
  </tr>
<% end %>
<% if @devices.empty? %>
  <tr><td colspan="4">No devices were found.</td></tr>
<% end %>
  </tbody>
</table>
