<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Devices', '/devices', :class => 'active')
           ],
           :action_links => [
             link_to('New Device', new_device_path),
             link_to('New Location', '/locations/new'),
             link_to('Browse Locations', '/locations'),
             link_to('Browse Network', '/devices/browse'),
             link_to('Power ON', '/devices/power?state=on'),
             link_to('Power OFF', '/devices/power?state=off'),
           ] } %>

<script type="text/javascript">
$(document).ready(function() {
  $('a.fire').bind('ajax:complete', function(evt, data, status, xhr) {
    setTimeout(function() {
        window.location.reload();
      }, 2000);
  });
});
</script>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Slideshow Name</th>
    <th>Device ID</th>
    <th>Running PID</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.name, device %></td>
    <td><%= device_location_link(device) %></td>
    <td><%= device_slideshow_link(device) %></td>
    <td><tt><%= device.deviceid %></tt></td>
    <td><tt><%= device.pid or '---' %></tt></td>

    <td class="col-btn-xs"><%=
      link_to raw('<span class="glyphicon glyphicon-fire"></span>'),
        signal_device_path(device),
        method: :post,
        remote: true,
        class: 'fire btn btn-default btn-xs' + (current_user && device.pid ? '' : ' disabled'),
        title: 'Restart process' %></td>
    <td class="col-btn-xs"><%=
      link_to raw('<span class="glyphicon glyphicon-edit"></span>'),
        edit_device_path(device),
        class: 'btn btn-default btn-xs',
        title: 'Edit' %></td>
    <td class="col-btn-xs"><%=
      link_to raw('<span class="glyphicon glyphicon-trash"></span>'),
        device,
        confirm: "Delete device #{device.name}?",
        method: :delete,
        class: 'btn btn-default btn-xs',
        title: 'Delete' %></td>
  </tr>
<% end %>
<% if @devices.empty? %>
<%   if @location %>
  <tr><td colspan="7">No devices found in location <%= @location.name %>.</td></tr>
<%   else %>
  <tr><td colspan="7">No devices configured.</td></tr>
<%   end %>
<% end %>
  </tbody>
</table>
<div style="float: right;"><i>Please log in to use the Restart Process / FIRE button.</i></div>

<%= will_paginate @devices, renderer: BootstrapPagination::Rails %>
