<%= render :partial => 'breadcrumbs', :locals => {
           :breadcrumbs => [
             link_to('Devices', '/devices', :class => 'active')
           ],
           :action_links => [
             link_to('New Device', new_device_path),
             link_to('Browse Network', '/devices/browse')
           ] } %>

<script type="text/javascript">
$(document).ready(function() {
  $('a.fire').bind('ajax:complete', function(evt, data, status, xhr) {
    setTimeout(function() {
        window.location.reload();
      }, 2000);
  });
});
</script>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Slideshow Name</th>
    <th>Device ID</th>
    <th>Running PID</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.name, device %></td>
    <td><%= device_slideshow_link(device) %></td>
    <td><tt><%= device.deviceid %></tt></td>
    <td><tt><%= device_pid(device) or '---' %></tt></td>
    <td class="col-btn-mini"><%= link_to raw('<i class="icon-fire"></i>'), signal_device_path(device), method: :post, remote: true, class: 'fire btn btn-mini' + (current_user && device_pid(device) ? '' : ' disabled'), title: 'Restart process' %></td>
    <td class="col-btn-mini"><%= link_to raw('<i class="icon-edit"></i>'), edit_device_path(device), class: 'btn btn-mini', title: 'Edit' %></td>
    <td class="col-btn-mini"><%= link_to raw('<i class="icon-trash"></i>'), device, confirm: "Delete device #{device.name}?", method: :delete, class: 'btn btn-mini', title: 'Delete' %></td>
  </tr>
<% end %>
<% if @devices.empty? %>
  <tr><td colspan="7">No devices configured.</td></tr>
<% end %>
  </tbody>
</table>
<div style="float: right;"><i>Please log in to use the Restart Process / FIRE button.</i></div>
