<%= render :partial => 'breadcrumbs', :locals => {
      :action_links => [
        '<label><input type="checkbox" name="refresh" style="vertical-align: baseline;" /> Refresh this page automatically?
         <span id="refresh_countdown" style="display: inline-block; width: 1em; text-align: right;">&nbsp;</span></label>'
      ]
    }
 %>

<h1>Now Playing</h1>

<hr/>

<div class="">
  <ul class="thumbnails">

<% @devices.each do |dev| %>
    <li class="span4">
      <div class="caption">
      <% unless dev.location.nil? -%>
        <%= link_to(dev.location_name, dev.location) %> &mdash;
      <% end -%>
        <%= link_to(dev.name, dev) %> &mdash;
        <%= dev.slideshow.nil? ? 'none' : link_to(dev.slideshow_name, dev.slideshow) %>
      </div>
      <div class="thumbnail">
        <img src="<%= dev.thumbnail or "/assets/nopreview.png" %>" class="fixed-320-180" />
      </div>
    </li>
<% end %>

  </ul>
</div>

<hr/>
