<%= render :partial => 'breadcrumbs', :locals => {
      :action_links => [
        '<label><input type="checkbox" name="refresh" style="vertical-align: baseline;" /> Refresh this page automatically?
         <span id="refresh_countdown" style="display: inline-block; width: 1em; text-align: right;">&nbsp;</span></label>'
      ]
    }
 %>

<hr/>

<% @devices_by_location.each do |location, devices| %>
<h2>Now Playing <%= location.name if location %></h2>
<div class="row">
  <% devices.each do |dev| %>
  <div class="col-lg-4">
    <div class="caption">
      <%= link_to(dev.name, dev) %> &mdash;
      <%= dev.slideshow.nil? ? 'none' : link_to(dev.slideshow_name, dev.slideshow) %>
    </div>
    <div class="thumbnail">
      <img src="<%= dev.thumbnail or "/assets/nopreview.png" %>" class="fixed-320-180" />
    </div>
  </div>
  <% end %>
</div>
<% end %>

<hr/>
