<% separator ||= '/' %>
  <ul class="breadcrumb">
    <li>
      <%= link_to 'Home', url_for(:root) %>

  <% if defined? breadcrumbs and breadcrumbs %>
    <% breadcrumbs[0..-2].each do |crumb| %>
      <span class="divider"><%= separator %></span>
      <%= crumb %>
    <% end %>

    <% breadcrumbs.last(1).each do |crumb| %>
      <span class="divider"><%= separator %></span>
      <%= crumb %>
    <% end %>
  <% end %>
    </li>

<% if defined? action_links and action_links %>
    <li style="float:right;">
      <% action_links[0..-2].each do |action| %>
        <%= action %>
        <span class="divider"><%= separator %></span>
      <% end %>
      <% action_links.last(1).each do |action| %>
        <%= action %>
      <% end %>
    </li>
<% end %>
  </ul>
