<%= semantic_form_for(@location, :html => {:class => 'edit_location'}) do |f| %>
  <%= f.semantic_errors %>

  <legend>Edit Location</legend>

  <div class="well">
    <%= f.inputs do %>
      <%= f.input :name %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  </div>

<% end %>
