<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Airplay Wall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag :application, :media => "all" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le javascript -->
    <%= javascript_include_tag :application %>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/favicon.ico">

    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Airplay Wall</a>
          <ul class="nav">
            <li<%= raw is_current_controller('devices') %>><a href="/devices">Devices</a></li>
            <li<%= raw is_current_controller('slideshows') %>><a href="/slideshows">Slideshows</a></li>
            <li<%= raw is_current_controller('slides') %>><a href="/slides">Slides</a></li>
          </ul>
          <ul class="nav pull-right">
            <% if session[:user] %>
            <li><a href="/auth/logout">Logout <%= session[:user] %></a></li>
            <% else %>
            <li><a href="/auth/login">Login</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div> <!-- /navbar -->

    <div class="container">
      <% flash.each do |key, value| -%>
        <div class="alert alert-<%= key %>">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= value %>
        </div>
      <% end -%>

      <%= yield %>

    </div> <!-- /container -->

  </body>
</html>
